.border {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 100px;
}

.click {
  width: 100px;
  height: 50px;
  border: 0px;
  background-color: grey;
  border-radius: 30px;
}
