h2 {
  color: #333;
}

form {
  margin-bottom: 10px;

  input {
    padding: 5px;
  }

  button {
    margin-left: 10px;
    padding: 5px 10px;
  }
}

ul {
  list-style-type: none;

  li {
    margin-bottom: 5px;

    button {
      margin-left: 5px;
    }
  }
}
