.second {
  margin-top: 50px;
}

.main-container {
  display: flex;
  // margin-left: 50px;
  justify-content: center;
}

.container-left {
  display: flex;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(146, 146, 146, 0.62);
  -moz-box-shadow: 0px 0px 16px 3px rgba(146, 146, 146, 0.62);
  box-shadow: 0px 0px 16px 3px rgba(146, 146, 146, 0.62);
  padding: 0 10px;
  height: 170px;
  width: 450px;
  margin-right: 50px;
}

.container-right {
  display: flex;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(146, 146, 146, 0.62);
  -moz-box-shadow: 0px 0px 16px 3px rgba(146, 146, 146, 0.62);
  box-shadow: 0px 0px 16px 3px rgba(146, 146, 146, 0.62);
  padding: 0 10px;
  height: 170px;
  width: 450px;
}

.title-1 {
  margin-bottom: 50px;
  color: grey;
}

.title-2 {
  margin-bottom: 50px;
  color: grey;
}

.percentages-1 {
  color: red;
  font-size: 15px;
}

.percentages-2 {
  color: green;
  font-size: 15px;
}

.text-container-1 {
  margin-right: 100px;
}

.chart-1 {
  width: 150px;
  height: 100px;
  margin: auto 0px;
}

.text-container-2 {
  margin-right: 100px;
}

.chart-2 {
  width: 150px;
  height: 100px;
  margin: auto 0px;
}
